html
	head
		meta(http-equiv='refresh' content=2)
		title Please wait
	body
		h1 Game #{gameName}
		p You joined the game.
		p(style='color:#080;') #{current} out of #{total} players available.
		p Game will start once the count is reached.
