html
	head
		meta(http-equiv='refresh' content=2)
		title Please wait
		style
			include style.css
	body
		h1.gameName #{gameName}
		p You joined the game.
		p(style='color:#080;') #{current} out of #{total} players available.
		p Game will start once the count is reached.
