html
	head
		meta(http-equiv='refresh' content=1)
		title Not your turn
	body
		h1 Please wait…
		pre= pendingLogs
		p It may not be your turn or the server is processing your move, please wait a bit. The page will automatically refresh.
